* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  height: 70px;
  width: auto;
  display: flex;
  /* background-color: blue; */
  padding: 20px 36px;
  /* fill: #FFF; */
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.nav--logo {
  max-width: 100px;
}